@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #0a0d14;
    color: #f9fafb;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    background: #111827;
  }
  ::-webkit-scrollbar-thumb {
    background: #1f2d45;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
  }
}
